<ion-header>
  <ion-toolbar>
    <ion-title>Chỉnh sửa ví {{walletOld.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Đóng</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Tên ví cũ ( {{walletOld.name}} )</ion-label>
      <ion-input [(ngModel)]="walletData.name" (ionChange)="onInputChange()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Số dư cũ ( {{walletOld.balance}} )</ion-label>
      <ion-input [(ngModel)]="walletData.balance" type="number" (ionChange)="onInputChange()"></ion-input>
    </ion-item>
  </ion-list>

  <ion-footer>
    <ion-button expand="full" (click)="updateWallet()">Lưu</ion-button>
  </ion-footer>
</ion-content>