<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="showWallet">📝 {{walletOld.name}}</ion-title>
    <ion-buttons slot="end" class="back-icon-container">
      <ion-icon (click)="dismiss()" name="close-circle-outline" color="dark"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="showWallet">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Tên ví cũ ( {{walletOld.name}} )</ion-label>
      <ion-input [(ngModel)]="walletData.name" (ionChange)="onInputChangeName()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Số dư cũ ( {{walletOld.balance}} )</ion-label>
      <ion-input [(ngModel)]="walletData.balance" (ionChange)="onInputChangeBalance()"></ion-input>
    </ion-item>
  </ion-list>

  <ion-footer>
    <ion-button expand="full" (click)="updateWallet()">Lưu</ion-button>
  </ion-footer>
</ion-content>