<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Wallet
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- <ion-searchbar placeholder="search" (ionInput)="onSearchChange($event)"></ion-searchbar>
  <ion-skeleton-text *ngIf="loading" [animated]="true" style="width: 100%; height: 30px; margin: 10px;"></ion-skeleton-text> -->
<!-- <ion-list [inset]="true">
    <ion-item *ngFor="let pet of data">
      <ion-label>{{pet.name}}</ion-label>
      <ion-chip color="success">{{pet.votes}}</ion-chip>
      <ion-spinner name="circular" *ngIf="loadingVote"></ion-spinner>
      <ion-button shape="round" *ngIf="!loadingVote" [color]="pet.votes > 0 ? 'danger' : 'medium'" (click)="onVote(pet.id)"><ion-icon slot="icon-only" name="heart"></ion-icon></ion-button>
    </ion-item>
  </ion-list> -->
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Tổng: {{totals | number:'1.0-0'}} VND</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list [formGroup]="walletForm">
        <ion-item>
          <ion-input labelPlacement="floating" formControlName="name"
            [ngClass]="{'invalid': walletForm.controls['name'].invalid && walletForm.controls['name'].touched}">
            <div slot="label">Tên ví <ion-text color="danger">(*)</ion-text></div>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input labelPlacement="floating" formControlName="balance" (ionInput)="onAmountChange($event)"
            [ngClass]="{'invalid': walletForm.controls['balance'].invalid && walletForm.controls['balance'].touched}">
            <div slot="label">Số dư <ion-text color="danger">(*)</ion-text></div>
          </ion-input>
        </ion-item>

        <ion-row class="btn-add">
          <ion-button size="medium" color="success" (click)="addWallet()" [disabled]="walletForm.invalid">
            <ion-icon name="add-circle-outline"></ion-icon> Thêm Ví
          </ion-button>
        </ion-row>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Danh sách các ví</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let wallet of dataWallet">
          <ion-label (click)="goDetail(wallet)">{{wallet.name}} : {{ wallet.balance | number:'1.0-0' }} VND </ion-label>
          <ion-button (click)="deleteWallet(wallet.id)" color="danger"><ion-icon
              name="trash-outline"></ion-icon></ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-row class="footer">
    <div class="round-img">
      <ion-img src="https://i.pinimg.com/originals/8c/c5/6c/8cc56c417138b7de11a576030f954d9e.gif"
      alt="hello kity"></ion-img>
    </div>
  </ion-row>

  <!-- <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Tổng số dư sau các tháng ( chua lam xong )</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Tháng 3: 5.000.000</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Tháng 4: 2.500.000</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Tháng 5: ước tính sau khi kết thúc tháng</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card> -->
</ion-content>