ion-item {
    --padding-start: 0;
}

.back-icon-container {
    width: 50px;
    ion-icon {
        height: 30px;
        width: 30px;
    }
}

ion-content {
    --background: url('https://img5.thuthuatphanmem.vn/uploads/2021/11/09/hinh-nen-chu-meo-may-doremon-cho-dien-thoai_092720489.jpg') no-repeat center center / cover;
}

ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
    border-bottom: 5px solid;
}

ion-card-content {
    overflow: auto;
}

.icon-transition {
    height: 30px;
    width: 30px;
}

.income {
    color: green;
}

.uncome {
    color: red;
}

.container {
    overflow: scroll;
    height: 350px;
}

.container-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-bottom: 1px solid;

    .time {
        padding-top: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: space-between;
        ion-icon {
            font-size: 30px;
            padding: 0 10px;
        }
    }

    .txt {
        display: flex;
        align-items: center;
        gap: 10px;
        padding-bottom: 10px;
    }
}

.btn-clear {
    display: flex;
    justify-content: center;
    padding: 10px;
}