<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Trở lại" color="success"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Ví 1
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Tổng: 600.000</ion-card-title>
      <ion-card-subtitle>Lần cuối cùng ghi chú: 01/07/2025 09:78:99 </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="container">
      <ion-row class="container-item">
        <div class="time">
          <p>01/07/2025</p>
          <ion-button color="danger" shape="round"> X </ion-button>
        </div>
        <div class="txt">
          <ion-icon class="icon-transition income" name="thumbs-up-outline"></ion-icon>
          <ion-label>lương - 5000k</ion-label>
        </div>

      </ion-row>
      <ion-row class="container-item">
        <div class="time">
          <p>01/07/2025</p>
          <ion-button color="danger" shape="round"> X </ion-button>
        </div>
        <div class="txt">
          <ion-icon class="icon-transition uncome" name="cash-outline"></ion-icon>
          <ion-label>mua đồ - 200k</ion-label>
        </div>
      </ion-row>
      <ion-row class="container-item">
        <div class="time">
          <p>01/07/2025</p>
          <ion-button color="danger" shape="round"> X </ion-button>
        </div>
        <div class="txt">
          <ion-icon class="icon-transition uncome" name="cash-outline"></ion-icon>
          <ion-label>mua đồ - 200k</ion-label>
        </div>
      </ion-row>
      <ion-row class="container-item">
        <div class="time">
          <p>01/07/2025</p>
          <ion-button color="danger" shape="round"> X </ion-button>
        </div>
        <div class="txt">
          <ion-icon class="icon-transition uncome" name="cash-outline"></ion-icon>
          <ion-label>mua đồ - 200k</ion-label>
        </div>
      </ion-row>
      <ion-row class="container-item">
        <div class="time">
          <p>01/07/2025</p>
          <ion-button color="danger" shape="round"> X </ion-button>
        </div>
        <div class="txt">
          <ion-icon class="icon-transition uncome" name="cash-outline"></ion-icon>
          <ion-label>mua đồ - 200k</ion-label>
        </div>
      </ion-row>
      <ion-row class="container-item">
        <div class="time">
          <p>01/07/2025</p>
          <ion-button color="danger" shape="round"> X </ion-button>
        </div>
        <div class="txt">
          <ion-icon class="icon-transition uncome" name="cash-outline"></ion-icon>
          <ion-label>mua đồ - 200k</ion-label>
        </div>
      </ion-row>
      <ion-row class="container-item">
        <div class="time">
          <p>01/07/2025</p>
          <ion-button color="danger" shape="round"> X </ion-button>
        </div>
        <div class="txt">
          <ion-icon class="icon-transition uncome" name="cash-outline"></ion-icon>
          <ion-label>mua đồ - 200k</ion-label>
        </div>
      </ion-row>
      <ion-row class="container-item">
        <div class="time">
          <p>01/07/2025</p>
          <ion-button color="danger" shape="round"> X </ion-button>
        </div>
        <div class="txt">
          <ion-icon class="icon-transition uncome" name="cash-outline"></ion-icon>
          <ion-label>mua đồ - 200k</ion-label>
        </div>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Ghi chú: </ion-card-title>
        <ion-card-subtitle>
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-list [formGroup]="walletForm">
          <ion-item>
            <ion-input labelPlacement="floating" formControlName="name"
              [ngClass]="{'invalid': walletForm.controls['name'].invalid && walletForm.controls['name'].touched}">
              <div slot="label">Nội dung <ion-text color="danger">(*)</ion-text></div>
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-input labelPlacement="floating" formControlName="balance" type="number"
              [ngClass]="{'invalid': walletForm.controls['balance'].invalid && walletForm.controls['balance'].touched}">
              <div slot="label">Số tiền <ion-text color="danger">(*)</ion-text></div>
            </ion-input>
          </ion-item>

          <ion-row class="btn-add">
            <ion-col>
              <ion-button size="medium" color="danger" (click)="addWallet(1)" [disabled]="walletForm.invalid">
                Chi Tiêu
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button size="medium" color="success" (click)="addWallet(1)" [disabled]="walletForm.invalid">
                Thu nhập
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-card>
</ion-content>