<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Quay về" color="success"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="wallet?.length">
      {{ wallet[0].name }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title *ngIf="wallet?.length">Tổng: {{wallet[0].balance | number:'1.0-0'}} VND</ion-card-title>
      <ion-card-subtitle>Lần cuối cùng ghi chú: 01/07/2025 09:78:99 </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="container" *ngIf="transactions.length > 0; else noTransactions">
      <!-- <ion-row class="container-item">
        <div class="time">
          <p>01/07/2025</p>
          <ion-button color="danger" shape="round"> X </ion-button>
        </div>
        <div class="txt">
          <ion-icon class="icon-transition income" name="thumbs-up-outline"></ion-icon>
          <ion-label>lương - 5000k</ion-label>
        </div>
      </ion-row> -->
      <ion-row class="container-item" *ngFor="let transaction of transactions">
        <div class="time">
          <p>{{ transaction.created_at | date:'short' }}</p>
          <ion-button color="danger" shape="round"> X </ion-button>
        </div>
        <div class="txt">
          <ion-icon class="icon-transition uncome" name="cash-outline"></ion-icon>
          <ion-label>{{ transaction.note }} - {{ transaction.amout | number:'1.0-0' }} VND</ion-label>
        </div>
      </ion-row>
    </ion-card-content>
    <ng-template #noTransactions>
      <p>Không có giao dịch nào.</p>
    </ng-template>
  </ion-card>
  <ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Ghi chú: </ion-card-title>
        <ion-card-subtitle>
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-list [formGroup]="walletForm">
          <ion-item>
            <ion-input labelPlacement="floating" formControlName="name"
              [ngClass]="{'invalid': walletForm.controls['name'].invalid && walletForm.controls['name'].touched}">
              <div slot="label">Nội dung <ion-text color="danger">(*)</ion-text></div>
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-input labelPlacement="floating" formControlName="balance" type="number"
              [ngClass]="{'invalid': walletForm.controls['balance'].invalid && walletForm.controls['balance'].touched}">
              <div slot="label">Số tiền <ion-text color="danger">(*)</ion-text></div>
            </ion-input>
          </ion-item>

          <ion-row class="btn-add">
            <ion-col>
              <ion-button size="medium" color="danger" (click)="addWallet(1)" [disabled]="walletForm.invalid">
                Chi Tiêu
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button size="medium" color="success" (click)="addWallet(1)" [disabled]="walletForm.invalid">
                Thu nhập
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-card>
</ion-content>